<aside id="sidebar">
    <div id="nav-bar" class="sidebar-item">
            <h3>Haz lo que puedas</h3>
            <a href="#" class="btn btn-success "  [routerLink]="['/crear-articulo']">Agregar Artículo</a>
        </div>
<div id="search" class="sidebar-item">
    <h3>Buscador</h3>
    <p>Encuentra el artículo que buscas</p>
    <form #searchForm="ngForm" >
        <input type="text" name="search" [(ngModel)]="searchString" />
        <input type="button" name="submit" value="enviar" (click)="goSearch()"  class="btn "/>
    </form>
</div>
</aside>
<div class="clearfix"></div>    
