<header id="header">
    <div class="center">
        <!-- Logo -->
       
        <!-- Men ú  -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
                </li>
                <li>
                </li>
            </ul>
        </nav>
        <div class="clearfix"> </div>
    </div>

</header>